<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wpj.test.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.wpj.test.dao.entity.User">
        <constructor>
            <arg column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <insert id="insert" parameterType="com.wpj.test.dao.entity.User">
    insert into c_user (id, phone, updateTime, 
      name, password)
    values (#{id,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.wpj.test.dao.entity.User">
        insert into c_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="updatetime != null">
                updateTime,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>